.main__content {
  width: 90%;
  margin: 100px auto 70px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
  align-items: center;

  .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
  }
}
@media (max-width:575px) {
  .main__content {
    width: 90%;
    .links {
      flex-direction: column;
      gap: 0;
    }
  }
};