@use '../abstracts/variables.scss' as *;

.button {
  width: 150px;
  line-height: 35px;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  margin: 30px auto;
  cursor: pointer;
  color: black;
  border: 2px solid #262626;

  &:visited {
    color: black;
  }
  &:hover{
    transition: all .3s ease;
  }

}

.red {
  border: 2px solid #D64045;
  color: #D64045;

  &:hover{
    border: 2px solid #D64045;
    background-color: #D64045;
    color: white;
  }
}

.black {
 background-color: transparent;

  &:hover{
    border: 2px solid #D64045;
    background-color: #D64045;
    color: white;
  }
}

.blue {
    color: #467599;
    border: 2px solid #467599;

    &:visited{
        color: #467599;
    }

    &:hover{
      border-color: transparent;
      background-color: #467599;
      color: white;
    }
}